@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-pix: #32bcad;
  --color-pix-dark: #2a9d91;
}

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900 antialiased;
  }
}

.pix-gradient {
  background: linear-gradient(135deg, #32bcad 0%, #2a9d91 100%);
}
